body {
    margin: 20px;
    padding: 0;
    background-color: #333;
  }
  
  .container {
    width: 760px;
    border: 3px white solid;
    background-color: white;
  }
  
  .main-img img,
  .imgList img {
    width: 100%;
  }
  
  .imgList{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  
  