* {
  font-family: "Helvetica Neue", "Arial", "sans-serif";
  scroll-behavior: smooth;
  font-weight: 300;
  letter-spacing: 0.1em;
  text-transform: lowercase;
  color: #000;
}

body{
  color: #000;

}
a {
text-decoration: none;

}

p {
  font-size: 9px;
  margin: 10px;
  text-align: center;
  color: #000;
}

#nav {
  display: flex;
  justify-content: space-between;
}

#group-of-navlinks {
  margin: 5px 10px;
  padding: 20px;
}

#group-of-navlinks a {
  margin-right: 10px;
  font-size: 10px;
}

#group-of-navlinks a:hover {
  text-decoration: underline;
  font-size: 12px;
}

.logo {
  width: 120px;
  height: 60px;
}

#logo {
  /* height: 30px; */
  margin: 5px;
}

#nav .icon {
  margin: 10px;
  padding: 15px 0px;
}

h1 {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000 ;
}

#paper-wrapper {
  display: block;
  /* position: relative; */
  padding: 0 200px;
  justify-content: space-around;
  border-width: 0;
  display: flex;
  flex-direction: row;

}

div .fragrance {
  padding: 0 10px;
  width: auto;
  height: auto;
  position:relative;
  justify-content: center;

}

.fragrance img {
  width: 16vw;
  height: 20vw;
}

.fragrance img:hover {
  box-sizing: border-box;
  
  width: 16vw;
  height: 20vw;
}

