div {
  width: 700px;
  height: 900px;
}
h2 {
  letter-spacing: 1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bolder;
  line-height: 2;
  text-transform: capitalize;
}
