body {
  margin: 20px;
  padding: 0;
  background-color: #333;
}

.container {
  width: 760px;
  border: 3px white solid;
  background-color: white;
}

.main-image img,
.images img {
  width: 100%;
}

.images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}


  
  
  
  
  
  
  
  
  
  
  
